html {
  background: url("./images/headpic.jpg") no-repeat;
  height: 100%;
  margin: 0;

  background-position: top;
  background-size: cover;
}
.nav {
  width: 1100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute fixed;
  margin: auto;
  text-align: center;
}
ul {
  text-align: center;
  margin-right: 160px;
}
.nav li {
  display: inline-flex;
  padding: 20px;
}
.nav a {
  text-decoration: none;
  color: black;
}
#banner {
  background: url(./images/banner1png.webp);
  background-repeat: no-repeat;
  width: 110px;
  background-size: 112px;
  height: 45px;
}
.intro {
  text-align: center;
  padding: 85px;
  margin: auto;
}
#body-modelS {
  background: url("./images/modelS.jpg") no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#body-model-3 {
  background: url("./images/model\ 3.jpg") no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

#body-model-X {
  background: url("./images/model\ X.jpg") no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
#body-model-Y {
  background: url("./images/model\ Y.jpg") no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
